<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="text-center"> {{ image_item.image_name }} </h2>
        </div>
    
        <!--Display  uploaded images  -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="{{image_item.photo.url}}" class="img-responsive" alt="Image">
        </div>        
      </div>
</body>
</html>