{% extends 'base.html' %}
<body>
        {% block content %}
        <div class="container" id="display">
            <div id="homepage" style="text-align:center">
                <h2 class="sub-title">"You are spoiled for choice"</h2>
            <div class="row">
            <!-- loop through photos  -->
            {% for image in images %}
            <div class="col-md-4">
                        <img src="{{image.photo.url}}" class="img" style="height:400px; width:400px;">
                      
                    </div>
             
            {% endfor %}
            </div>
        </div>
        
        </div>
        
        </div>
        </div>
        <style>
            container-fluid{
                margin: 3px;
            }
        </style>
        
        {% endblock %}   
</body>
