 <html>
    <body>
        <h1> {date.day}-{date.month}-{date.year}</h1>
        
        <div class="container">
        
          {% for Image_item in imagesgallery %}
        
          <div class="row">
            <!-- displaying News articles -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <h2 class="text-center"> {{ image.photo}} </h2>
            </div>
        
          </div>
        
          {% empty %}
          <div class="row">
            <h2 class="text-center">No photos have been posted today</h2>
          </div>
          {% endfor %}
        
        </div> 
              
</html>
